<md-content layout="column" layout-fill>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <md-select
        class="md-accent"
        ng-model="$ctrl.scene"
        ng-change="$ctrl.toScene($ctrl.scene)"
        placeholder="Selecionar Cena">
        <md-option ng-value="undefined"> Selecionar Cena </md-option>
        <md-option ng-repeat="s in $ctrl.magazineImages[$ctrl.slideIndex].scenes track by $index" ng-value="s"> Scene {{ $index + 1 }} </md-option>
      </md-select>

      <span flex></span>

      <span>x: {{$ctrl.pageX}}, y: {{$ctrl.pageY}}</span>

      <md-button md-raised ng-click="$ctrl.toOverview()">Resetar</md-button>

    </div>
  </md-toolbar>

  <md-content class='hq-content' flex ng-click="$ctrl.toOverview()">
    <ul rn-carousel rn-carousel-transition="slide" rn-carousel-index="$ctrl.slideIndex" class="image" layout-fill>
      <li ng-repeat="image in $ctrl.magazineImages">
        <div class='hq-wrapper' layout-fill>
          <div class='inner' id="slide-{{$index}}">
            <img ng-src="{{image.url}}" alt="{{image.url}}"><br>
          </div>
        </div>
      </li>
    </ul>
  </md-content>
</md-content>
