hq-viewer{
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
  > md-content{
    background-color: #eee;
  }

  .toggle-toolbar{
    position: fixed;
    top: calc( 51px + 20px);
    right: 16px;
    z-index: 10;
    opacity: 0.5;
  }

  md-toolbar{
    &.ng-hide {
      transform: translateY(-100%);
    }
    
    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all ease-in-out 0.3s;
    }  
  }
  

  .hq-scenes-controls{
    position: relative;
    z-index: 20;
  }

  .hq-wrapper, .hq-wrapper * {
    box-sizing: border-box;
  }

  .hq-wrapper {
    display: flex;
    align-items: center;
    perspective: 1000px;
    width: 450px;
    margin: auto;
  }

  md-content.hq-content{
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #eee;
  }

  .hq-wrapper .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    transform-origin: 0% 0% 0px;
    box-shadow: 1px 1px 18px transparentize(#333, 0.5);

    img{
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }

  .rn-carousel-controls{
    .rn-carousel-control{
      display: inline-flex;
      align-content: center;
      justify-content: center;
      outline: none;
      &:hover::before{
        opacity: 0.5;
      }
      &::before{
        color: black;
        font-size: 64px;
        opacity: 0.2;
        transition: opacity 0.3s ease-in-out;
      }
      &.rn-carousel-control-next{
        &::before{
          font-family: 'Material Icons';
          content: 'keyboard_arrow_right';
        }
      }
      &.rn-carousel-control-prev{
        &::before{
          font-family: 'Material Icons';
          content: 'keyboard_arrow_left';
        }
      }
    }
  }
}
