<md-button class="md-icon-button trigger-menu" ng-click="$ctrl.openMenu()">
        <i class="material-icons">menu</i>
</md-button>

<md-sidenav class="md-sidenav-left" md-component-id="leftMenu" md-whiteframe="4">
    <md-content layout-padding>
        <p>Navegação</p>
        <ul class="navigation">
            <li md-trucante>
                <a md-button ng-click="$ctrl.to('home')" ui-sref='home' ui-sref-active="active"> Página Inicial </a>
            </li>
            <li md-trucante>
                <a md-button ng-click="$ctrl.to('macromediat1')" ui-sref='macromediat1' ui-sref-active="active"> Macromedia 1 </a>
            </li>
            <li md-trucante>
                <a md-button ng-click="$ctrl.to('macromediat2')" ui-sref='macromediat2' ui-sref-active="active"> Macromedia 2 </a>
            </li>
        </ul>
    </md-content>
</md-sidenav>